<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.name %></h1>
    <p>
      Your Status has been changed to : <b> <%= @user.status %> </b>
    </p>
    <p>
      For any error, please contact us soon!.
    </p>
    <p>Wish you a healthy life!</p> <br>
    <%= image_tag attachments['image.jpg'].url , alt: 'Logo', size: "128x128"%>
  </body>
</html>